{% extends "base.html" %}

{% block content %}


<section class="cta-section section-padding ">


		  <div class="container">
		
		<div class="row">
		 <div class="col-md-12 ">
		
		<h2>Upcoming Events</h2>
		<table class="table table-hover table-bordered table-striped"   >
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Location</th>
				<th>Option</th>
			</tr>
			<tr>
				<td>House Music Festival </td>
				<td>22 Dec 2026</td>
				<td>Spain</td>
				<td><a  href="https://www.webtickets.co.za/v2/" title="Click to Buy Ticket"  class="custom-btn btn disabled" target="_blank">Sold Out</a></td>
			</tr>
			<tr>
				<td>HipHop Show </td>
				<td>20 Dec 2026</td>
				<td>Engalnd, London</td>
				<td><a  href="https://www.webtickets.co.za/v2/" title="Click to Buy Ticket" class="custom-btn btn" target="_blank">Buy Ticket</a></td>
			</tr>
			<tr>
				<td>Beach Party</td>
				<td>01 Jan 2026</td>
				<td>USA, Miami</td>
				<td><a  href="https://www.webtickets.co.za/v2/" title="Click to Buy Ticket" class="custom-btn btn" target="_blank">Buy Ticket</a></td>
			</tr>
			<tr>
				<td>Back To School Show</td>
				<td>03 Jan 2026</td>
				<td>Ireland, Dublin</td>
				<td><a  href="https://www.webtickets.co.za/v2/" title="Click to Buy Ticket" class="custom-btn btn" target="_blank">Buy Ticket</a></td>
			</tr>
		</table>
		
		</div>
		</div>
		</div>
		
		


</section>


{% endblock %}